@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ReactVirtualized__List::-webkit-scrollbar {
  width: 8px;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ReactVirtualized__Grid::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

.ReactVirtualized__Grid__cell {
  border-right: 1px solid #e5e7eb;
}

.ReactVirtualized__Grid__cell > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
